.logoImg {
    height: 60px;
}
.navbar-light {
    background-color: orange;
}
.navbar-brand {
    padding: 0;
}
.container {
    background: yellow;
}
.border_red {
    border: 2px solid red;
}
.paddingFentLent {
    padding: 20px 0;
}
.displayNone {
    display: none;
}
.displayBlock {
    display: block;
}
.piros {
    background: red;
}